body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.container{
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(bgimage.jpg);
    margin: 50px auto;
}

.calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;

}

.result{
    height: 120px;
}

.history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

.output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.operator, .number, .comma, .empty{
    width: 50px;
    height:50px;
    margin:15px;
    float:left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number, .comma, .empty{
    background-color: #eaedef;
}

.number, .comma, .operator{
    cursor: pointer;
}

.operator:hover, .comma:hover, .number:hover{
    font-size: 20px;
    background-color: pink;
}

.operator:active, .comma:active, .number:active{
    font-size: 13px;
    background-color: red;
}

.keyboard{
    height: 400px;
}

button:nth-child(4){
    font-size:25px;
    background-color: blueviolet;
}
button:nth-child(8){
    font-size:25px;
    background-color: rgb(79, 95, 241);
}
button:nth-child(12){
    font-size:25px;
    background-color: rgb(71, 243, 220);
}
button:nth-child(16){
    font-size:25px;
    background-color: rgb(78, 241, 160);
}
button:nth-child(20){
    font-size:25px;
    background-color: rgb(245, 235, 92);
}
